{
  "file": 1, 
  "format": 1
}{
  "port": {{ deluge_web_port }}, 
  "enabled_plugins": [], 
  "pwd_sha1": "{{ deluge_web_pwd_sha1 }}", 
  "theme": "gray", 
  "show_sidebar": true, 
  "sidebar_show_zero": true, 
  "pkey": "ssl/daemon.pkey", 
  "https": false, 
  "sessions": {
  }, 
  "base": "/", 
  "pwd_salt": "{{ deluge_web_pwd_salt }}", 
  "show_session_speed": true, 
  "first_login": false, 
  "cert": "ssl/daemon.cert", 
  "session_timeout": 3600, 
  "default_daemon": "", 
  "sidebar_multiple_filters": true
}
